body {
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
  }
  nav {
    background-color: #282828;
    color: #fff;
    text-shadow:  2px 2px 5px #000;
    text-transform: uppercase;
  }
  .nav-link {
    color: #fff;
    font-weight: 500;
    border: 1px solid transparent;
 
    width: 100px; 
    text-align: center;
  }
  .nav-link:hover {
    color: red;
    border-color: red;
    border-radius: 5px;
    background-color: transparent;
  }
  .t {
     color: red;
  }
  .active {
    color: #fff;
    border-radius: 5px;
    background-color: red;
  }
  li {
    padding: 5px 10px;

  }
  nav h4 {
    font-size: 25px;
    font-family: lobster;
    letter-spacing: 6px;
 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
  }
 .navbar button:focus {
    outline: none;
    border: none;
  }
 
 
 .title h1 {
   padding: 30px 30px 0;
   text-shadow:  2px 2px 5px #000;
   font-weight: bold;
 }
 .red {
   color: red; 
 }
 
 .about {
   margin: 0;
 }
 .edu h3 {
   text-align: center;
   text-shadow:  2px 2px 5px #000;
   padding: 20px;
 }
 
 .edu h5 {
   font-size: 3vh;
   padding: 20px;
   font-weight: 400;
   text-shadow:  2px 2px 5px #000;
 }
 
 p {
   font-weight: 100;
   font-size: 2vh;
   padding-top: 5px;
   text-shadow:  2px 2px 5px #000;
 }
 
 .skills {
   
 }
 .row {
   margin: 0;
 }
 .skills h3 {
   text-align: center;
   text-shadow:  2px 2px 5px #000;
   padding: 20px;
 }
 .skills ul li {
   text-shadow:  2px 2px 5px #000;
 }
 
 .edu , .skills {
   padding-top: 30px;
   margin-bottom: 20px;
 }

.about .info {
  margin: 0;
  padding: 0;
}
.info h3 {
  text-align: center;
  margin: 20px 0;
}
.personal, .project {
  margin: 20px;
}
.info .col-md-6 {
  max-width: 43%;
}
 
 @media screen and (max-width: 991.5px) {
    .nav-link {
      text-align: center;
      width: 100%;
    }
 }
 
 @media screen and (min-width: 768px) { 
   .personal {
     border-right: 1px solid #fff;
   }
 }
  @media screen and (max-width: 767px) {
    .nav-link {
      text-align: center;
      width: 100%;
      border: none;
 
      box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
         inset 4px 4px 10px rgba(0, 0, 0, 0.5),
         inset -4px -4px 10px rgba(67, 67, 67, 0.3),
         4px 4px 10px rgba(0, 0, 0, 0.3);
    }
 
    .skills ul li {
       margin-left: 40px;
    }
 
    .info h3 {
      font-size: 25px;
    }
    .info .col-md-6 {
      max-width: 100%;
    }

  }
 
@media screen and (max-width: 475px) {
  .info h3 {
    font-size: 20px;
  }

}

  @media screen and (max-width: 375px) {
   .row .circle {
     left: 0;
     margin-left: 0;
   }

   
 }
 
 
 .circle {
     background:#282828;
     color:#FFF !important;
     text-align: center;
     border-radius: 75px;
     width: 100px;
     height: 100px;
     position: relative;
     margin-bottom: 30px;
     margin-left: 10px;
     left: 20%;
 }
 
 .circle:before {
     content: "";
     background-color: red;
     position: absolute;
     left: 50%;
     top: 50%;
     margin-left: -60px;
     margin-top: -60px;
     width: 120px;
     height: 120px;
     border-radius: 50%;
     z-index: -1;
 }
 
 .circle P {
   padding-top: 35px;
   font-weight: 500;
   font-size: 15px;
 }

 .about-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
 }
 .about-list .title-info {
  font-weight: 100;
  text-transform: capitalize;
 }
 .about-list .value {
  font-weight: 500;
  text-shadow: 2px 2px 2px #000;
 }

 .about-list li  {
  text-align: -webkit-match-parent;
 }

