 body {
   margin: 0;
   padding: 0;
   background-color: #282828;
   color: #fff;
 }
 nav {
   background-color: hsl(0, 0%, 16%);
   color: #fff;

   text-shadow:  2px 2px 5px #000;

   box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
        inset 4px 4px 10px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(67, 67, 67, 0.3),
        4px 4px 10px rgba(0, 0, 0, 0.3);
 }
 .nav-link {
   color: #fff;
   font-weight: 500;
   border: 1px solid transparent;
   width: 80px; 
   text-align: center;
 }
 .nav-link:hover {
   color: red;
   border-color: red;
   border-radius: 5px;
   background-color: transparent;

   box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
      inset 4px 4px 10px rgba(0, 0, 0, 0.5),
      inset -4px -4px 10px rgba(67, 67, 67, 0.3),
      4px 4px 10px rgba(0, 0, 0, 0.3);
 }
 span {
    color: red;
 }
 .active {
   color: #fff;
   border-radius: 5px;
   background-color: red;

   box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
      4px 4px 10px rgba(0, 0, 0, 0.3);
 }
 li {
   padding: 5px 10px 5px 10px;
 }
 nav h4 {
   font-size: 25px;
   font-family: lobster;
   letter-spacing: 6px;

   -moz-user-select: none; 
   -webkit-user-select: none; 
   -ms-user-select:none; 
   user-select:none;
   -o-user-select:none;
 }
 .navbar i {
   outline: none;
   border: none;
 }

.home {
   margin: 0;
   background-color: #282828;
   color: #fff;
 }
.img {
   width: 65%;
   height: auto;
   margin-top: 10px;
   margin-bottom: 100px;
   -webkit-box-reflect: below -1% linear-gradient(to bottom, transparent, transparent, rgba(0,0,0,.3));
}
.col1 {
   margin-top: 5%;
   text-align: center;
   border-right: 1px solid #fff;
}
.col1 h1 {
   text-shadow:  3px 3px 6px #000;
   font-size: 4vw;
   margin-top: 10%;
   font-weight: 400;
}
.col1 h2 {
   font-size: 4vw;
   font-weight: 400;
   text-shadow:  3px 3px 6px #000;
}
.col1 p {
   font-weight: 200;
}
.button {
   color: red;
   border: 1px solid red;
   border-radius: 5px;
   padding: 10px 30px;
   outline: none;

   text-shadow:  2px 2px 5px #000;

   box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
      inset 4px 4px 10px rgba(0, 0, 0, 0.5),
      inset -4px -4px 10px rgba(67, 67, 67, 0.3),
      4px 4px 10px rgba(0, 0, 0, 0.3);
   
}
.col2 {
   margin-top: 100px;
}

.button:hover {
   background-color: red;
   color: #fff;
   text-decoration: none;
   border: none;

   box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
        4px 4px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 991.5px) {
   .nav-link {
      text-align: center;
      width: 100%;
   }
}


@media screen and (max-width: 767.5px) {
   .nav-link {
      text-align: center;
      width: 100%;
      border: none;

      box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
        inset 4px 4px 10px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(67, 67, 67, 0.3),
        4px 4px 10px rgba(0, 0, 0, 0.3);
   }
   .home {
      padding-bottom: 0px;
   }
   .img {
      width: 100%;
      height: auto;
   }
   .col1 {
      margin-top: 0;
      border-right: 0;
   }
   .col1 h1 {
      font-size: 4vh;
   }
   .col1 h2 {
      font-size: 4vh;
   }
   .col2 {
      margin-top: 30px;
   }
}