 body {
   margin: 0;
   padding: 0;
   background: #000;
   color: #fff;
 }
 nav {
   background-color: #000;
   color: #fff;
 }
 .nav-link {
   color: #fff;
   font-weight: 500;
   border: 1px solid transparent;

   width: 80px; 
   text-align: center;
 }
 .nav-link:hover {
   color: red;
   border-color: red;
   border-radius: 5px;
   background-color: transparent;
 }
 span {
    color: red;
 }
 .active {
   color: #fff;
   border-radius: 5px;
   background-color: red;
 }
 li {
   padding: 5px 10px 5px 10px;
 }
 nav h4 {
   font-size: 25px;
   font-family: lobster;
   letter-spacing: 6px;

   -moz-user-select: none; 
   -webkit-user-select: none; 
   -ms-user-select:none; 
   user-select:none;
   -o-user-select:none;
 }
 .navbar i {
   outline: none;
   border: none;
 }

.home {
   margin: 0;
   background-color: #000;
   color: #fff;
   padding-bottom: 75px;
 }
.img {
   width: 65%;
   height: auto;
   margin-top: 10px;
   margin-bottom: 100px;
   -webkit-box-reflect: below -1% linear-gradient(to bottom, transparent, transparent, rgba(0,0,0,.3));
}
.col1 {
margin-top: 5%;
text-align: center;
border-right: 1px solid #fff;
}
.col1 h1 {
   text-shadow: 2px 2px 5px #666;
   font-size: 4vw;
   margin-top: 10%;
   font-weight: 400;
}
.col1 h2 {
   font-size: 4vw;
   font-weight: 400;
}
.col1 p {
   font-weight: 200;
}
.button {
   color: red;
   border: 1px solid red;
   border-radius: 5px;
   padding: 10px 30px;
   outline: none;
}
.button:hover {
   background-color: red;
   color: #fff;
   text-decoration: none;
}


@media screen and (max-width: 767px) {
   .nav-link {
      text-align: center;
      width: 100%;
   }
   .home {
      padding-bottom: 0px;
   }
   .img {
      width: 100%;
      height: auto;
   }
   .col1 {
      margin-top: 0;
      border-right: 0;
   }
   .col1 h1 {
      font-size: 4vh;
   }
   .col1 h2 {
      font-size: 4vh;
   }
}