 body {
   margin: 0;
   padding: 0;
   background-color: #282828;
   color: #fff;
   font-family: "Poppins",sans-serif;
 }
 nav {
   background-color: hsl(0, 0%, 16%);
   color: #fff;
   text-shadow:  2px 2px 5px #000;
   text-transform: uppercase;
 }
 .nav-link {
   color: #fff;
   font-weight: 500;
   border: 1px solid transparent;
   width: 100px; 
   text-align: center;
 }
 .nav-link:hover {
   color: red;
   border-color: red;
   border-radius: 5px;
   background-color: transparent;

 }
 span {
    color: red;
 }
 .active {
   color: #fff;
   border-radius: 5px;
   background-color: red;

   box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
      4px 4px 10px rgba(0, 0, 0, 0.3);
 }
 li {
   padding: 5px 10px 5px 10px;
 }
 nav h4 {
   font-size: 25px;
   font-family: lobster;
   letter-spacing: 6px;

   -moz-user-select: none; 
   -webkit-user-select: none; 
   -ms-user-select:none; 
   user-select:none;
   -o-user-select:none;
 }
 .navbar i {
   outline: none;
   border: none;
 }

.home {
   margin: 0;
   background-color: #282828;
   color: #fff;
 }

.img {
   width: 90%;
   height: auto;
   margin-top: 50px;
   margin-bottom: 100px;
   
   box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
                4px 4px 10px rgba(0, 0, 0, 0.3);
   outline: 10px dashed #fff;
}
.col1 {
   margin-top: 5%;
   text-align: left;
   text-shadow: 2px 2px 2px #000;
}
.col1 h1 {
   text-shadow:  3px 3px 6px #000;
   font-size: 3vw;
   margin-top: 10%;
   font-weight: bold;
   text-transform: uppercase;
   margin-left: 100px;
}
.col1 h2 {
   font-size: 3vw;
   text-shadow:  3px 3px 6px #000;
   text-transform: uppercase;
   font-weight: bold;
   margin-left: 100px;
}
.col1 p {
   font-weight: 100;
   margin-left: 100px;
   margin-right: 100px;
}
.button {
   color: red;
   border: 1px solid red;
   border-radius: 5px;
   padding: 10px 30px;
   outline: none;

   text-shadow:  2px 2px 5px #000;
   text-transform: uppercase;

   box-shadow: inset 0 0 0 0 red;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin-left: 100px;
   
}


.button:hover {
   background-color: red;
   color: #fff;
   text-decoration: none;

   box-shadow: inset 0 0 0 50px red;

  
}

@media screen and (max-width: 991.5px) {
   .nav-link {
      text-align: center;
      width: 100%;
   }
   .col1 h1 {
      margin-left: 0px;
   }
   .col1 h2 {
      margin-left: 0px;
   }
   .col1 p {
      margin-left: 0px;
   }

}

@media screen and (max-width: 768px) {
   
}

@media screen and (max-width: 767.5px) {
   .nav-link {
      text-align: center;
      width: 100%;
      border: none;

      box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
        inset 4px 4px 10px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(67, 67, 67, 0.3),
        4px 4px 10px rgba(0, 0, 0, 0.3);
   }
   .home {
      padding-bottom: 0px;
   }
   .img {
      width: 50%;
      height: auto;
      margin: 0;
   }
   .col1 {
      margin-top: 0;
      border-right: 0;
      text-align: center;
   }
   .col1 h1 {
      font-size: 4.5vh;
      margin-left: 0px;
   }
   .col1 h2 {
      font-size: 4.5vh;
      margin-left: 0px;
   }
   .col1 p {
      font-size: 2vh;
      margin-left: 30px;
      margin-right: 30px;
   }
   .button {
      margin: 0;
   }
   .col2 {
      margin-top: 30px;
   }
}

@media screen and (min-width: 424px) and (max-width: 500px) {
   .col1 p {
      font-size: 2vh;
      margin-left: 0px;
      margin-right: 0px;
   }
}

@media screen and (max-width: 424px) {
   .img {
      width: 65%;
      outline: 5px dashed #fff;
   }
   .col1 h1 {
      font-size: 3.5vh;
   }
   .col1 h2 {
      font-size: 3.5vh;
   }
   .col1 p {
      font-size: 2vh;
      margin-left: 0px;
      margin-right: 0px;
   }
}